.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    height: 47px;
    background: lightgray;
    align-items: center;
    margin-bottom: 20px;
}
